html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}


.App {
    max-width: 1920px;
    margin: auto;
}
.glitch {
    color: white;
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.hidden{
    display: none;
}

@keyframes noise-anim {
    0% {
        clip: rect(30px, 9999px, 63px, 0);
    }
    5% {
        clip: rect(45px, 9999px, 7px, 0);
    }
    10% {
        clip: rect(28px, 9999px, 28px, 0);
    }
    15% {
        clip: rect(30px, 9999px, 99px, 0);
    }
    20% {
        clip: rect(19px, 9999px, 46px, 0);
    }
    25% {
        clip: rect(18px, 9999px, 73px, 0);
    }
    30% {
        clip: rect(44px, 9999px, 13px, 0);
    }
    35% {
        clip: rect(6px, 9999px, 55px, 0);
    }
    40% {
        clip: rect(45px, 9999px, 70px, 0);
    }
    45% {
        clip: rect(4px, 9999px, 70px, 0);
    }
    50% {
        clip: rect(71px, 9999px, 87px, 0);
    }
    55% {
        clip: rect(75px, 9999px, 46px, 0);
    }
    60% {
        clip: rect(53px, 9999px, 28px, 0);
    }
    65% {
        clip: rect(1px, 9999px, 82px, 0);
    }
    70% {
        clip: rect(80px, 9999px, 9px, 0);
    }
    75% {
        clip: rect(12px, 9999px, 73px, 0);
    }
    80% {
        clip: rect(16px, 9999px, 100px, 0);
    }
    85% {
        clip: rect(93px, 9999px, 40px, 0);
    }
    90% {
        clip: rect(4px, 9999px, 17px, 0);
    }
    95% {
        clip: rect(33px, 9999px, 28px, 0);
    }
    100% {
        clip: rect(100px, 9999px, 41px, 0);
    }
}
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #00ffd8;
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 24s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(53px, 9999px, 77px, 0);
    }
    5% {
        clip: rect(67px, 9999px, 2px, 0);
    }
    10% {
        clip: rect(92px, 9999px, 28px, 0);
    }
    15% {
        clip: rect(76px, 9999px, 28px, 0);
    }
    20% {
        clip: rect(18px, 9999px, 28px, 0);
    }
    25% {
        clip: rect(93px, 9999px, 62px, 0);
    }
    30% {
        clip: rect(88px, 9999px, 85px, 0);
    }
    35% {
        clip: rect(30px, 9999px, 95px, 0);
    }
    40% {
        clip: rect(68px, 9999px, 3px, 0);
    }
    45% {
        clip: rect(61px, 9999px, 77px, 0);
    }
    50% {
        clip: rect(45px, 9999px, 30px, 0);
    }
    55% {
        clip: rect(84px, 9999px, 94px, 0);
    }
    60% {
        clip: rect(16px, 9999px, 50px, 0);
    }
    65% {
        clip: rect(5px, 9999px, 42px, 0);
    }
    70% {
        clip: rect(90px, 9999px, 15px, 0);
    }
    75% {
        clip: rect(16px, 9999px, 19px, 0);
    }
    80% {
        clip: rect(49px, 9999px, 84px, 0);
    }
    85% {
        clip: rect(55px, 9999px, 23px, 0);
    }
    90% {
        clip: rect(15px, 9999px, 66px, 0);
    }
    95% {
        clip: rect(28px, 9999px, 31px, 0);
    }
    100% {
        clip: rect(14px, 9999px, 92px, 0);
    }
}
.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #dd00ff;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 16s infinite linear alternate-reverse;
}


.portfolio__gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 30px;
    max-width: 600px;
    margin: auto;
    perspective: 300px;
    margin-top: -20px;
    animation: transit 1s linear;
}

.workPreview {
    transition: 0.5s ease;
    transform-style: preserve-3d;
    background-size: cover;
    background-position: top;
    transform: rotateX(-3deg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    box-shadow: 1px 10px 10px -4px #0000004a;
    filter: saturate(0);
}

.workPreview:hover {
    animation: hoverWork 3s infinite alternate;
    filter: saturate(1);
    opacity: 1;
    transition: 0s;
}

.workPreview::after {
    font-size: 14px;
    content: attr(data-name);
    position: absolute;
    left: -18px;
    text-transform: uppercase;
    rotate: -90deg;
    transform-origin: left top;
    transform: rotateX(0deg);
    text-shadow: 0 0 5px #00000090;
}

.workPreview a {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.workPreview h3 {
    text-align: center;
    background: linear-gradient(transparent, black);
    padding: 30px 8px 8px;
    width: 100%;
    color: var(--text-color);
}

.workPreview:hover h3 {
    opacity: 1;
}


@keyframes hoverWork {
    0% {
        background-position: top left;
    }
    100% {
        background-position: bottom right;
    }
}

:root {
    --main: #e9a100;
    --text-color: #fff;
    --background: #0f0f0f;
    --vh: 1vh;
    --greyed: rgb(119, 39, 10);
}

body {
    background: var(--background);
    color: var(--text-color);
}

.flexContainer {
    display: flex;
    max-width: 960px;
    margin: auto;
}

.mainFrame {
    position: relative;
    box-sizing: border-box;
    width: -webkit-fill-available;
    margin: 60px;
    height: calc(var(--vh) * 100 - 120px);
}

.mainFrame__flex-top {
    display: flex;

    justify-content: space-between;
}

.mainFrame__name {
    font-size: 36px;
    white-space: nowrap;
    transform: translate(0, -50%);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 0.5;
}

.mainFrame__nameHolder {
    margin: 0 30px 30px 0;
}

.mainFrame__jobTitle {
    color: var(--greyed);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    transition: color 1s;
}

.mainFrame__flex-top .navBar {
    color: var(--text-color);
    display: flex;
    gap: 50px;
    text-decoration: none;
}

.mainFrame__flex-vertLeft {
    display: flex;
    flex-direction: column;
    height: calc(100% - 76px);

    justify-content: center;
    width: fit-content;
}

.mainFrame__flex-vertRight {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
}

.mainFrame__vertLine {
    width: 1px;
    background: var(--greyed);
    height: inherit;
    transition: background-color 1s;

}

.mainFrame__horLine {
    width: -webkit-fill-available;
    height: 1px;
    background: var(--greyed);
    transition: background-color 1s;
}

.mainFrame__title {
    rotate: 180deg;
    writing-mode: vertical-lr;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0;
    margin: 30px 0;
    color: var(--greyed);
    transition: color 1s;
}

.mainFrame__flex-vertLeft .navBar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
    transition: background-color 1s;
}

.contentHolder {
    height: 89%;
    width: 85%;
    background: #161616;
    bottom: 0;
    position: absolute;
    right: 85px;
    display: flex;
    align-items: center;
}

.HomeGrad {
background: radial-gradient(at 40% 20%, #1c1c1c 0px, transparent 50%), radial-gradient(at 90% 0%, #0a0a0a 0px, transparent 50%), radial-gradient(at 0% 50%, #101010 0px, transparent 50%), radial-gradient(at 80% 50%, #181818 0px, transparent 50%), radial-gradient(at 0% 100%, #141414 0px, transparent 50%), radial-gradient(at 80% 100%, #0a0a0a 0px, transparent 50%), radial-gradient(at 0% 0%, #121212 0px, transparent 50%)
}

.PortfolioGrad {
    background:radial-gradient(at 40% 20%, #03a9f4 0px, transparent 50%), radial-gradient(at 90% 0%, #74f324 0px, transparent 50%), radial-gradient(at 0% 50%, #dfff2d 0px, transparent 50%), radial-gradient(at 80% 50%, #34e8ff 0px, transparent 50%), radial-gradient(at 0% 100%, #18e5ff 0px, transparent 50%), radial-gradient(at 80% 100%, #ffeb3b 0px, transparent 50%), radial-gradient(at 0% 0%, #12b168 0px, transparent 50%);
    display: block;
    background-blend-mode: darken;
}

.SkillsGrad {
    background: radial-gradient(at 40% 20%, #4caf50 0px, transparent 50%), radial-gradient(at 90% 0%, #8bc34a 0px, transparent 50%), radial-gradient(at 0% 50%, #00bcd4 0px, transparent 50%), radial-gradient(at 80% 50%, #009688 0px, transparent 50%), radial-gradient(at 0% 100%, #00bcd4 0px, transparent 50%), radial-gradient(at 80% 100%, #4caf50 0px, transparent 50%), radial-gradient(at 0% 0%, #cddc39 0px, transparent 50%);
}

.ExperienceGrad {
    background: radial-gradient(at 40% 20%, #ffc107 0px, transparent 50%), radial-gradient(at 90% 0%, #ff8622 0px, transparent 50%), radial-gradient(at 0% 60%, #ffc107 0px, transparent 50%), radial-gradient(at 80% 50%, #ffc107 0px, transparent 50%), radial-gradient(at 0% 100%, #ffeb3b 0px, transparent 60%), radial-gradient(at 80% 100%, #ffeb3b 0px, transparent 50%), radial-gradient(at 0% 0%, #ff9800 0px, transparent 50%);

}

.ContactsGrad {
    background: linear-gradient(#673ab7, transparent), linear-gradient(-45deg, #9c27b0, transparent), linear-gradient(45deg, #3f51b5, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainFrame__horLine_bottom {
    height: 1px;
    width: 100%;
    /*background:var(--greyed);*/
    position: absolute;
    bottom: 0;
}

.navBar a {
    color: var(--greyed);
    font-size: 16px;
    transition: 0.3s;
    height: 18px;
}

.navBar a.active, .navBar a.active:hover {
    font-size: 21px;
    color: var(--text-color);
}

.navBar a:hover {
    font-size: 16px;
    color: var(--text-color);
}

a {
    color: var(--greyed);
}

.skills__gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 75%;
    margin: 0 auto;
    width: 85%;
    gap: 35px;
}

.skills__gridItem {
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    opacity: 0;
    flex-direction: column;

}

.skills__gridItem:nth-child(1) {

    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.skills__gridItem:nth-child(4) {
    animation: fadeInRight 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;

}

.skills__gridItem:nth-child(5) {
    animation: fadeInLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;

}

.skills__gridItem:nth-child(2) {
    animation: transit 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;

}

.skills__gridItem:nth-child(3) {
    animation: transit 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.1s;


}

.skills__gridItem:nth-child(6) {

    animation: transit 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.3s;
}

.skills__gridItem video {
    width: calc(100% + 20px);
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(-30%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(30%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0);
    }
}

/*.skills__gridItem:Has(video)::before {*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: linear-gradient(to bottom right, black, black 50%, transparent 50%);*/
/*    background-size: 2px 2px;*/
/*    z-index: 0;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/

/*}*/
.slider__subheader {
    color: var(--greyed);
    font-size: 18px;
}

.underConstruction::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, transparent, transparent 50%, black 50%);
    background-size: 2px 2px;

    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.underConstruction video {
    height: auto;
    width: auto !important;
    min-width: 100%;
    min-height: 100%;

}

.hugeHeading {
    z-index: 20;
    position: absolute;
    font-size: 68px;
    font-weight: 700;
    top: 30px;
    left: 30px;
}

.grid-item video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

a:visited {
    color: var(--greyed);
}

.mainFrame__flex-top .navBar a:visited {
    color: var(--text-color);
}

.slider_grid {
    display: grid;
}

/*home*/
.skill_heading {
    font-size: 5vw;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: var(--text-color);

}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

div[class^='slide_'] {
    width: 100%;
    height: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink {

    0% {
        background-position: -250px 0, left
    }
    100% {
        background-position: 1200px 0, left
    }
}

/*skills*/
.skillsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 960px;
    margin: auto;
    padding: 30px;
    perspective: 300px;
    height: inherit;
}

.subheader {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--greyed);
    text-transform: uppercase;

}

.subheader-exp {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--background);
    text-transform: uppercase;
}

.contText {
    font-size: 16px;
    color: #fff;
}

.contText-years {
    font-size: 16px;
    color: var(--background);
}

.subheader-white {
    font-size: 18px;
    color: #fff;

}


@keyframes transit {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.expContainer {
    display: flex;
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07), transparent);
    justify-content: flex-start;
    animation: transit 1s linear;
    opacity: 0;
    animation-fill-mode: forwards;
}

.mobile {
    display: none !important;
}

.addressBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
}

.contactLine {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contactLine a {
    color: var(--text-color);
}

.contactLogo {
    width: 24px;
    height: 24px;
}



.slideContainer {
    width: 100%;
    height: 100%;
}

.slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    position: relative;
}

.fixedSlide {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    flex-direction: row-reverse;
}
.fixedSlide img{
    display: block;
}

.slide {
    /*flex-shrink: 0;*/
    height: 100%;
    min-width: 100%;
    transition: 0.6s ease-out;
    opacity: 0;
    padding-top: 10%;

}

.slide.active {
    transform: translateX(0);
    opacity: 1;
    height: 100%;

}

.active img.slider_Image {
    height: 80%;
    transition: height 1.5s ease-in-out;
}

img.slider_Image {
    bottom: 0;
    position: fixed;
    right: 20%;
    height: 50%;
    transition: 0.6s;
}

.slider__header {
    position: relative;
    font-weight: 700;
    font-size: 68px;
    margin: 40px;
    text-transform: uppercase;
    z-index: 20;


}

.slider__note {
    width: 30%;
    line-height: 1.5;
    margin: 20px 60px;
    color: var(--greyed);
    position: relative;
    list-style: none;
}
.slider__note::before{
content: "⮞";
    position: absolute;
    left: -18px;
}

.slider_button {
    border-color: var(--greyed);
    background: #00000000;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    height: 45px;
    margin: 0 30px;
    opacity: .3;
    width: 45px;
    color: var(--greyed);
}

.slider__decoration {
    position: absolute;
    right: 30px;
    top: 30px;
    animation: decorFloat 30s infinite linear;
    animation-fill-mode: forwards;
}
.playground_Image1 {
    height: 50%;
    right: 100px;
    bottom: 100px;
    position: absolute;
}
.playground_Image2 {
    height: 50%;
    right: 100px;
    bottom: 100px;
    position: absolute;
}

@keyframes decorFloat {

    50% {
        transform: rotate(180deg) translate(100px, 100px)
    }
    100% {
        transform: rotate(360deg) translate(0, 0)
    }
}

.prev,
.next {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/*.fixedSlide .slide img::after{*/
/*    content: '';*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    display: block;*/
/*}*/


@media screen and (max-width: 1080px) {
    .mainFrame {
        position: relative;
        box-sizing: border-box;
        width: -webkit-fill-available;
        margin: 60px 20px 0 0;
        min-height: calc(var(--vh) * 100 - 60px);
        height: unset;
    }

    .fixedSlide .slide img {
        opacity: 0.2;
        display: block;
    }




    .slider {
        z-index: 2
    }


    .skills__gridContainer {
        gap: 0
    }

    .slider__header {
        font-size: 44px;
    }

    .slider__subheader {
        font-size: 16px
    }

    .home_heading {
        -webkit-text-stroke: 1px var(--greyed);
        font-size: 38px;
        margin: 10px;
        background: transparent;

    }

    .portfolio__gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 215px;
        grid-gap: 30px;
        max-width: 600px;
        margin: auto;
        perspective: 300px;
        margin-top: -20px;
        margin-left: 30px;
    }

    .portfolio__gridContainer .workPreview {
        filter: saturate(1);
    }

    .mainFrame__flex-vertLeft {
        display: none;
    }

    .skillContainer {
        padding: 20px 5px;
        line-height: 1.25;
    }

    .slider__decoration {
        display: none
    }

    .skillsGrid {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .mainFrame__flex-top .navBar a.active, .navBar a:hover {

        color: var(--greyed);
    }

    .mainFrame__flex-top .navBar {
        color: var(--text-color);
        display: flex;
        gap: 12px;
        text-decoration: none;
        margin: 7px 0 30px;
    }

    .mainFrame__nameHolder {
        margin: 0 0 0 10px;
    }

    .navBar a {
        font-size: 14px;
    }

    .mainFrame__name {
        font-size: 24px;
    }

    .contentHolder {
        height: fit-content;
        position: relative;
        min-height: calc(var(--vh) * 70);
        width: 94%;
        right: 20px;
        left: 0;
    }

    .mobile {
        display: flex !important;
    }

}

